graft small_text
graft docs
graft tests
prune examples

include small_text/version.json

include LICENSE
include LICENSE-THIRDPARTY
include DCO.md CONTRIBUTING.md

global-exclude *.py[cod] __pycache__/* *.so *.dylib
prune docs/_build