graft small_text
graft docs
graft tests
prune examples

include small_text/version.json

include LICENSE
include THIRDPARTY-CODE
include CHANGELOG.md
include CONTRIBUTING.md
include CONTRIBUTORS.md
include DCO.md

global-exclude *.py[cod] __pycache__/* *.so *.dylib
prune docs/_build