@media (max-width: 1280px) {
   .github-ribbon { display: none; }

   .wy-nav-content-wrap .wy-nav-content div[role=navigation] {
      padding-right: 0px;
   }
}

.wy-nav-content {
   max-width: none !important;
}

.wy-nav-content > .rst-content > div[role=navigation] {
   padding-right: 100px;
}

.wy-side-scroll {
   width: auto;
   overflow-y: auto;
}

.sig-object {
   word-wrap: break-word;
   word-break: break-word;
   width: 100%;
}

.sig .reference.external {
   float: right;
}

.rst-content dl dt.sig {
   clear: both;
}

.rst-content dl dt.sig .headerlink {
   display: none;
}

.descclassname {
   display: inline-block;
}

.wy-table-responsive thead th {
   background-color: #d8ebff;
}

.document figcaption {
   margin-top: 6px;
}

@media (min-width: 992px) {
   .active-learning-setup {
      width : 24vw;
   }
}

@media (min-width: 1200px) {
   .active-learning-setup {
      width : 15vw;
   }
}